[submodule "ibex"]
	path = ibex
	url = https://github.com/michael-platzer/ibex.git
	branch = coproc_if_external_csr
[submodule "cv32e40x"]
	path = cv32e40x
	url = https://github.com/openhwgroup/cv32e40x.git
[submodule "hide/vicuna2_core"]
	path = hide/vicuna2_core
	url = https://github.com/vproc/vicuna2_core.git
